* {
  box-sizing: border-box;
}

h1 {
  width: 100%;
  text-align: center;
}

.meme-picture {
  display: flex;
  margin: auto;
  max-width: 90%;
}

.meme-picture-loading {
  margin: auto;
  max-width: 90%;
  font-size: 3em;
  text-align: center;
}
